.printBill {
  width: 500px;
  padding: 20px;
  box-shadow: 1px 1px 4px 1px rgb(212, 212, 212);
  margin: 30px 0;
  background-color: white;
}

.invoiceHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.invoiceHeader img {
  width: 50px;
}

.invoiceHeader p {
  font-size: 1.4em;
  margin-left: 5px;
}

.invoiceItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  gap: 10px;
}

.item tr {
  min-height: 500px;
}

.item td {
  border: none;
  background-color: white;
}

.btn {
  text-align: center;
  padding: 8px 0;
  border-radius: 4px;
  margin: 5px;
  box-shadow: 1px 1px 4px 1px #d4d4d4;
}

.btn-saveBill {
  background-color: #4db652;
  color: rgb(255, 255, 255);
  width: 100%;
}

.btn-saveBill:hover {
  background-color: white;
  color: #4db652;
  border: 1px solid #4db652;
}
